version: "3"

services:
  web:
    build: .
    volumes:
      - ./:/home/node/app
    ports:
      - 8000:8000
    env_file: .env
    depends_on:
      - db
  db:
    image: postgres:11.5-alpine
    env_file: .env
